<a href="https://colab.research.google.com/github/kettesakchhorn/Machine-Learning/blob/main/Midterm_rerun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#lib
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
dataset = pd.read_csv("CSCO.csv")
dataset.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2021-01-04  44.310001  44.369999  43.349998  43.959999  42.510708  24392500
1  2021-01-05  43.680000  44.070000  43.380001  43.980000  42.530041  17763700
2  2021-01-06  44.130001  44.869999  43.889999  44.400002  42.936207  21823100
3  2021-01-07  44.200001  45.110001  44.169998  44.959999  43.477741  18218800
4  2021-01-08  44.480000  45.410000  44.250000  45.060001  43.574444  20936300

In [4]:
dataset.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

THIS MEANS THERE IS NO MISSING DATA. HENCE DATASET IS CLEAN

In [5]:
missing_percentage = dataset.isnull().sum()/len(dataset)
print(missing_percentage)

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

No missing value!

In [12]:
x_variable = ["Volume", "Low", "High"]
y_variable = ["Close"]

x = np.array(dataset[x_variable]).reshape(-1,len(x_variable))
y = np.array(dataset[y_variable]).reshape(-1,len(y_variable))

#Splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)
print(x_train.shape)
print(x_test.shape)

(200, 3)
(51, 3)

In [13]:
model = LinearRegression().fit(x_train, y_train)

In [18]:
#                   Volume    Low     High
x_assum = np.array([30976600 ,53.45 ,55.66 ]) 
x_assum = x_assum.reshape(-1,3)

y_predict = model.predict(x_assum)
print(y_predict)

[[54.86733664]]

- y_predict is the predicted Close figure

- I will use Date ( Jan 28, 2022) as the actual value and input to predict the Close figure. 
- In this case, the actual Close figure is 55.61
- Actual data: 

Volume: 30976600

Low: 53.45

High: 55.66

54.86 is the predicted value when used the real out put. 
Actual: 55.61
Predicted: 54.86

So as calculated, the result is very close to the actual data. This means we can use the multiple regression to find out a certain figure by using its y variables. 

Valuation: I think the stock owners or stock marketers could use this method to find analyze the data and could predict the value. This task has asked us to clean the data because without a clean data, meaning the dataset is incomplete as there is missing data. Missing data can lead to inaccurate predictions and analysis. This task has provided the importance of data cleansing. The task was also to make a model of a multiple regression to find out an expected data. I think the expected data is very close to real data which in this case proves that it is usable in the stock market business.